
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgb(31, 58, 74);
            background-image: url(/Content/Images/background-login-register.png);
            backdrop-filter: blur(5px);
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 600px;
            background-color: #F8F7F7;
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-radius: 20px;
        }

        h1 {
            margin: 20px;
            font-size: 54px;
            font-weight: bold;
        }

        h1, .label-input {
            color: #2B3674;
        }

        .input-form {
            margin: 30px 0 0 20px;
        }

        .label-input {
            padding-left: 10px;
            font-size: 20px;
        }

        input {
            width: 460px;
            height: 60px;
            border-radius: 50px;
            border: solid #C4B7B7 1px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            padding: 0 20px;
            font-size: 22px;
        }

        .submit-button {
            margin: 30px 0 0 20px;
        }

        button {
            background-color: #00ACE8;
            width: 460px;
            height: 50px;
            border-radius: 16px;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 18px;
        }

            button:hover {
                cursor: pointer;
                background-color: pink;
            }

        .nav-register {
            margin: 20px;
            font-size: 20px;
            padding-left: 10px;
            color: #2B3674;
        }

            .nav-register > label {
                font-weight: bold;
            }

            .nav-register > a:visited {
                color: blue;
            }

            .nav-register > a:active {
                color: rgb(127, 44, 58);
            }
    </style>

</head>
<body>
    <div class="container">
        <form action="" method="post">
            <div class="title">
                <h1>Đăng nhập</h1>
            </div>

            <div class="input-form">
                <p class="label-input">Tên đăng nhập</p>
                <input type="text" name="tenDangNhap" required>
            </div>

            <div class="input-form">
                <p class="label-input">Mật khẩu</p>
                <input type="password" name="matKhau" requireds>
            </div>

            <div class="nav-register">
                <label>Bạn chưa có tài khoản ?</label>
                <a href="@Url.Action("DangKy","DangNhap")">Đăng ký</a>
            </div>

            <div class="submit-button">
                <button type="submit">Đăng nhập</button>
            </div>


            <div class="thong-bao" style="margin: 30px 0 0 20px; width: 460px; height: 50px; padding-left: 40px;">
                <p style="font-size:16px; line-height: 50px; color: red;">@ViewBag.thongBao</p>
            </div>
        </form>
    </div>
</body>
</html>
