
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/PageDangNhapCSS/style.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <div class="title">
                <h1>
                    Đăng nhập
                </h1>
            </div>

            <div class="input-form">
                <p>Tên đăng nhập</p>
                <input type="text" name="tenDangNhap" id="">
            </div>

            <div class="input-form">
                <p>Mật khẩu</p>
                <input type="password" name="matKhau" id="">
            </div>

            <div class="submit-button">
                <button type="submit">Đăng nhập</button>
            </div>
        </form>
    </div>
</body>
</html>
