@{
    ViewBag.Title = "Liên hệ";
}
<main aria-labelledby="title">

    <div>
        <h3>

            <label style="color: green; font-weight:bold; font-size:35px;">|</label>
            Bản đồ chỉ dẫn

        </h3>
        <br />

        Trường Đại học Công Nghiệp Hà Nội<br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4104.211596772135!2d105.73267887888986!3d21.05365624180455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1716090121600!5m2!1svi!2s"
                class="w-100" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br />
    <address>

        <div>
            <h3>

                <label style="color: green; font-weight:bold; font-size:35px;">|</label>
                Trụ sở chính
            </h3>
            <hr />
            <br />
        </div>


        Nhà A11 - Khu A, Phường Minh Khai, Quận Bắc Từ Liêm, Hà Nội
        <br />
        <br />
        <h3>

            <label style="color: green; font-weight:bold; font-size:35px;">|</label>
            Các cơ sở khác

        </h3>
        <hr />
        <br />

        Cơ sở 2: Tầng 1,2 Nhà B8 - Khu B, Phường Tây Tựu, Quận Bắc Từ Liêm, Hà Nội
        <br />
        <br />
        Cơ sở 3: Tầng 3 Nhà C18 - Khu C, Phường Lê Hồng Phong, Thành phố Phủ Lý, tỉnh Hà Nam
        </p>
        <abbr title="Phone" style="color: red; font-weight: bold">Hotline:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>