@{
    ViewBag.Title = "About";
}
<style>
    p {
        text-align: justify;
    }
</style>
<main aria-labelledby="title">
    <img src="~/Content/Images/haui.jpg" class="img-thumbnail" height="200"/>
    <h3 id="title" style="color: blue">Giới thiệu Trung tâm Thông tin - Thư viện, Trường Đại học Công nghiệp Hà Nội</h3>
    <hr />
    <p>
        Trung tâm Thông tin Thư viện một đơn vị trực thuộc Trường Đại học Công nghiệp Hà Nội,
        có chức năng phục vụ hoạt động giảng dạy, học tập và đào tạo, nghiên cứu khoa học,
        triển khai ứng dụng tiến bộ khoa học công nghệ và quản lý của nhà trường thông quan việc sử dụng, khai thác các nguồn tài liệu có trong thư viện;
        thực hiện các chức năng khác theo quy định của pháp luật và quy chế tổ chức, hoạt động của nhà trường.
    </p>
    <p>
        <b>
            I. Cơ cấu tổ chức<br />

            1. Ban lãnh đạo:
        </b>
        <br />
        - Giám đốc: TS. Ngô Đức Vĩnh<br />

        - Phó Giám đốc: Ths. Nguyễn Minh Tân<br />
        <b>2. Các tổ chuyên môn:</b><br />
        - Tổ Dịch vụ thông tin: Tổ trưởng ThS.Trần Thị Anh Đào<br />

        - Tổ Tài nguyên thông tin: Tổ trưởng ThS. Nguyễn Thị Mai<br />

        - Tổ Quản trị, phát triển tài nguyên số: Tổ trưởng ThS. Phan Quang Thịnh<br />

        và 21 chuyên viên làm việc tại 3 cơ sở.
    </p>
    <p>
        <b> II. Về cơ sở vật chất:</b><br />
    </p>
    <p>
        Trung tâm Thư viện Trường ĐH Công nghiệp Hà Nội gồm 3 cơ sở với tổng diện tích hơn 6456 m2, 
        hệ thống các phòng chức năng đa dạng với 12 phòng đọc và 14 phòng chức năng khác, thiết kế theo hướng mở, liên kết với nhau theo sơ đồ bố trí một cách thuận lợi nhằm phục vụ giáo viên, 
        sinh viên trong hoạt động giảng dạy, học tập và NCKH. Thư viện đang sử dụng phần mềm Libol 8.0 để quản lý nghiệp vụ, ứng dụng Libol Bookworm để khai tác tài liệu số, trang http://thuvienso.haui.edu.vn/ để kết nối, chia sẻ với các liên kết. 
        Các dịch vụ, tài nguyên, kết nối của Thư viện được tích hợp tại trang chủ https://lic.haui.edu.vn/vn.
    </p>

    <p>Thư viện được trang bị đầy đủ sách, giáo trình, tài liệu tham khảo bằng tiếng Việt và tiếng nước ngoài cho tất cả các đối tượng bạn đọc,
    với gần 28.000 đầu sách với gần 160.000 quyển. Thư viện hiện có 38 đầu Tạp chí; Cơ sở dữ liệu tài liệu điện tử với trên 6.562 tài liệu Ebook,
    45 CSDL truy cập mở và 01 CSDL tài chính FiinProX; Số lượng sách và tài liệu tham khảo của thư viện đảm bảo đủ theo danh mục các học phần được 
    xác định trong chương trình đào tạo nhà trường đang thực hiện ở mức 1 học phần có ít nhất 1 giáo trình và 3 tài liệu tham khảo.</p>
    <p>Hệ thống wifi được lắp đặt miễn phí phục vụ bạn đọc trong toàn bộ không gian Thư viện; Trang bị gần 300 máy tính cấu hình 
    mạnh được nối mạng LAN, mạng Internet đường truyền tốc độ cao phục vụ bạn đọc học tập, tra cứu và tìm kiếm thông tin tài liệu. Thư viện thực hiện kết nối với các thư viện khác thuộc hệ thống Liên hiệp Thư viện các trường Đại học khu vực phía Bắc, hệ thống Thư viện quốc gia, Thư viện các trường Đại học Kỹ thuật trong nước... nhằm tăng cường trao đổi thông tin, học hỏi nghiệp vụ và tăng nguồn tư liệu phục vụ bạn đọc. Trong đó, số thư viện điện tử liên kết ngoài trường kết nối thông qua Trung tâm Tri thức số của NALA là: 55;
    qua trang thuvienso.haui.edu.vn: 82; liên kết với Thư viện ĐHQG Hà Nội, Thư viện Đại học Sao đỏ.</p>
    <p>Hàng năm Nhà trường đều dành nguồn kinh phí đầu tư cho Thư viện như: cơ sở vật chất, trang thiết bị và mua bổ sung tài liệu: tài liệu nội sinh, luận văn, luận án, giáo trình nội bộ, tài liệu tham khảo, tài liệu điện tử. Ngoài những nguồn tài liệu được mua bổ sung,Thư viện còn tiếp nhận tài liệu đến từ các nguồn khác như: Nguồn tài liệu được tặng hàng năm từ các tổ chức khác như Quỹ Châu nhận các nguồn tài liệu được trao tặng như từ Quỹ sách Châu Á, tập đoàn Denso Việt Nam. Cơ sở vật chất và các nguồn tài liệu đã đáp ứng đầy đủ nhu cầu giảng dạy, học tập và nghiên cứu khoa học của cán bộ, giảng viên, học viên và sinh viên với mức hài lòng khi đến sử dụng các sản phẩm dịch vụ Thông tin Thư viện của nhà trường. Trung tâm thực hiện công khai các thủ tục quy trình làm việc cùng với việc minh bạch thông tin,
    nội quy, quy định và hướng dẫn tra cứu tìm tài liệu.</p>
    <p>Thư viện đã thiết lập các kênh liên lạc, tương tác với bạn đọc: Facebook, Zalo OA, Website, Youtube. Đặc biệt, Zalo OA đã tích hợp hầu hết các dịch vụ của Thư viện, bạn đọc có thể truy cập, sử dụng và khai thác thư viện. Hàng năm, thư viện tiến hành khảo sát lấy ý kiến phản hồi của người học và các bên liên quan nhằm đánh giá mức độ hài lòng, đầy đủ nguồn học liệu, cơ sở vật chất phục vụ tra cứu. Nội dung khảo sát tập trung vào việc đánh giá mức độ hài lòng, đầy đủ nguồn học liệu, cơ sở vật chất phục vụ tra cứu. Kết quả khảo sát giúp Thư viện khắc phục những hạn chế và tồn tại góp phần nâng cao
    chất lượng phục vụ của Thư viện</p>


    <p>
        <b> III. Địa chỉ liên hệ:</b><br />
        <b> Cơ sở 1:</b> Nhà A11 - Khu A, Phường Minh Khai, Quận Bắc Từ Liêm, Hà Nội<br />

        <b> Cơ sở 2:</b>  Tầng 1,2 Nhà B8 - Khu B, Phường Tây Tựu, Quận Bắc Từ Liêm, Hà Nội<br />

        <b> Cơ sở 3:</b> Tầng 3 Nhà C18 - Khu C, Phường Lê Hồng Phong, Thành phố Phủ Lý, tỉnh Hà Nam<br />

        Hotline: 0815.366.768

        Email: lic.haui.edu.vn@gmail.com

    </p>

    <p></p>





</main>