
@{
    ViewBag.Title = "QuyDinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
        p {
            text-align: justify;
        }
    </style>
    <h2>

        <label style="color: green; font-weight:bold; font-size:35px;">|</label>
        NỘI QUY THƯ VIỆN

    </h2>
    <h4 style="align-content: center">Chương I: QUY ĐỊNH CHUNG</h4>
    <p>
        <b> Điều 1. Phạm vi điều chỉnh</b><br />

        Văn bản này quy định việc sử dụng cơ sở vật chất, tài nguyên thông tin thuộc phạm vi quản lý của Trung tâm Thông tin - Thư viện, Trường Đại học Công nghiệp Hà Nội (sau đây gọi tắt là Thư viện) và các vấn đề có liên quan nhằm phục vụ nhu cầu học tập, nghiên cứu của bạn đọc.

        <b>Điều 2. Đối tượng áp dụng</b><br />

        Quy định này áp dụng đối với viên chức, người lao động và người học có nhu cầu sử dụng dịch vụ thư viện (sau đây gọi tắt là bạn đọc).
    </p>
    <h4 style="align-content: center">Chương II: SỬ DỤNG THƯ VIỆN TRUYỀN THỐNG</h4>
    <p>
        <b>Điều 3. Quy định về sử dụng thẻ thư viện</b> <br />

        1. Bạn đọc dùng thẻ viên chức, thẻ sinh viên, học viên, nghiên cứu sinh, do Trường Đại học Công nghiệp Hà Nội cấp cho người học có tích hợp chức năng sử dụng thư viện (gọi tắt là thẻ đa năng).

        <br />2. Không cho mượn thẻ hoặc sử dụng thẻ của người khác. Người sở hữu thẻ phải chịu trách nhiệm về tài liệu được mượn bằng thẻ của mình.

        <br />3. Thời hạn sử dụng thẻ đa năng được xác định theo thời gian học tập, làm việc của bạn đọc tại trường hoặc quyết định tốt nghiệp, quyết định kết thúc học tập của người học.

        <br /><b>Điều 4. Quy định phòng đọc</b>

        <br />1. Bạn đọc xuất trình thẻ hợp lệ trước khi vào phòng, để vật dụng cá nhân tại tủ gửi đồ (tự bảo quản tiền và tài sản có giá trị).

        <br />2. Bạn đọc tự lấy tài liệu trên giá, ghi đầy đủ thông tin vào phiếu yêu cầu (theo mẫu có sẵn) khi mượn tài liệu, không được mang tài liệu ra khỏi phòng đọc. Trong quá trình sử dụng tài liệu cần có ý thức giữ gìn bảo quản tài liệu, tuyệt đối không cắt xé, viết, vẽ.v.v… vào tài liệu.

        <br />3. Khi mượn, nhận tài liệu bạn đọc phải: Kiểm tra kỹ hiện trạng tài liệu nếu thấy bất thường (mất trang, rách nát.v.v…) cần báo ngay cho thủ thư biết để xác nhận hiện trạng tài liệu.

        <br />    4. Bạn đọc không tráo đổi vị trí tài liệu trên giá, không lấy nhiều hơn 02 cuốn tài liệu hoặc hơn 01 loại báo, tạp chí cho một lần sử dụng. Khi sử dụng xong phải để lại vị trí cũ.

        <br />5. Trao đổi thảo luận nhóm với âm lượng vừa đủ, hạn chế gây tiếng ồn ảnh hưởng tới bạn đọc khác.

        <br />    6. Trước khi rời Phòng đọc, bạn đọc trả tickê, chìa khóa tủ gửi đồ cho thư viện viên và nhận lại thẻ.
    </p>*@
<div class="container">
    <div class="row py-4">
        <div class="col-12 mb-4 mb-lg-0">
            <h5 class="text-uppercase tt1 mb-4">Nội quy thư viện </h5>
        </div>
        <div class="col-md-12">
            <p style="text-align: center"><strong>Chương I: QUY ĐỊNH CHUNG</strong></p>
            <p><strong>Điều 1.&nbsp;Phạm vi điều chỉnh</strong></p>
            <p>Văn bản n&agrave;y quy định việc sử dụng cơ sở vật chất, t&agrave;i nguy&ecirc;n th&ocirc;ng tin thuộc phạm vi quản l&yacute; của Trung t&acirc;m Th&ocirc;ng tin - Thư viện, Trường Đại học C&ocirc;ng nghiệp H&agrave; Nội (sau đ&acirc;y gọi tắt l&agrave; Thư viện) v&agrave; c&aacute;c vấn đề c&oacute; li&ecirc;n quan nhằm phục vụ nhu cầu học tập, nghi&ecirc;n cứu của bạn đọc.</p>
            <p><strong>Điều 2. Đối tượng &aacute;p dụng</strong>&nbsp;</p>
            <p>Quy định n&agrave;y &aacute;p dụng đối với vi&ecirc;n chức, người lao động v&agrave; người học c&oacute; nhu cầu sử dụng dịch vụ thư viện (sau đ&acirc;y gọi tắt l&agrave; bạn đọc).</p>
            <p>&nbsp;</p>
            <p style="text-align: center"><strong>Chương II: SỬ DỤNG THƯ VIỆN TRUYỀN THỐNG</strong></p>
            <p><strong>Điều 3. Quy định về sử dụng thẻ thư viện</strong></p>
            <p>1. Bạn đọc d&ugrave;ng thẻ vi&ecirc;n chức, thẻ sinh vi&ecirc;n, học vi&ecirc;n, nghi&ecirc;n cứu sinh, do Trường Đại học C&ocirc;ng nghiệp H&agrave; Nội cấp cho người học c&oacute; t&iacute;ch hợp chức năng sử dụng thư viện (gọi tắt l&agrave; thẻ đa năng).</p>
            <p>2. Kh&ocirc;ng cho mượn thẻ hoặc sử dụng thẻ của người kh&aacute;c. Người sở hữu thẻ phải chịu tr&aacute;ch nhiệm về t&agrave;i liệu được mượn bằng thẻ của m&igrave;nh.</p>
            <p>3. Thời hạn sử dụng thẻ đa năng được x&aacute;c định theo thời gian học tập, l&agrave;m việc của bạn đọc tại trường hoặc quyết định tốt nghiệp, quyết định kết th&uacute;c học tập của người học.</p>
            <p><strong>Điều 4. Quy định ph&ograve;ng đọc</strong></p>
            <p>1. Bạn đọc xuất tr&igrave;nh thẻ hợp lệ trước khi v&agrave;o ph&ograve;ng, để vật dụng c&aacute; nh&acirc;n tại tủ gửi đồ (tự bảo quản tiền v&agrave; t&agrave;i sản c&oacute; gi&aacute; trị).</p>
            <p>2. Bạn đọc tự lấy t&agrave;i liệu tr&ecirc;n gi&aacute;, ghi đầy đủ th&ocirc;ng tin v&agrave;o phiếu y&ecirc;u cầu (theo mẫu c&oacute; sẵn) khi mượn t&agrave;i liệu, kh&ocirc;ng được mang t&agrave;i liệu ra khỏi ph&ograve;ng đọc. Trong qu&aacute; tr&igrave;nh sử dụng t&agrave;i liệu cần c&oacute; &yacute; thức giữ g&igrave;n bảo quản t&agrave;i liệu, tuyệt đối kh&ocirc;ng cắt x&eacute;, viết, vẽ.v.v&hellip; v&agrave;o t&agrave;i liệu.</p>
            <p>3. Khi mượn, nhận t&agrave;i liệu bạn đọc phải: Kiểm tra kỹ hiện trạng t&agrave;i liệu nếu thấy bất thường (mất trang, r&aacute;ch n&aacute;t.v.v&hellip;) cần b&aacute;o ngay cho thủ thư biết để x&aacute;c nhận hiện trạng t&agrave;i liệu.</p>
            <p>4. Bạn đọc kh&ocirc;ng tr&aacute;o đổi vị tr&iacute; t&agrave;i liệu tr&ecirc;n gi&aacute;, kh&ocirc;ng lấy nhiều hơn 02 cuốn t&agrave;i liệu hoặc hơn 01 loại b&aacute;o, tạp ch&iacute; cho một lần sử dụng. Khi sử dụng xong phải để lại vị tr&iacute; cũ.</p>
            <p>5. Trao đổi thảo luận nh&oacute;m với &acirc;m lượng vừa đủ, hạn chế g&acirc;y tiếng ồn ảnh hưởng tới bạn đọc kh&aacute;c.</p>
            <p>6. Trước khi rời Ph&ograve;ng đọc, bạn đọc trả tick&ecirc;, ch&igrave;a kh&oacute;a tủ gửi đồ cho thư viện vi&ecirc;n v&agrave; nhận lại thẻ.</p>
            <p><strong>Điều 5. Quy định mượn trả t&agrave;i liệu</strong></p>
            <p>1. T&agrave;i liệu được mượn về nh&agrave; bao gồm gi&aacute;o tr&igrave;nh, t&agrave;i liệu tham khảo. Đối tượng được mượn l&agrave; bạn đọc c&oacute; thẻ vi&ecirc;n chức, thẻ sinh vi&ecirc;n, học vi&ecirc;n, nghi&ecirc;n cứu sinh của Trường:</p>
            <p>a) Đối với vi&ecirc;n chức v&agrave; người lao động: Được ph&eacute;p mượn t&agrave;i liệu mỗi lần kh&ocirc;ng qu&aacute; 05 đơn vị t&agrave;i liệu v&agrave; giữ trong sổ mượn kh&ocirc;ng qu&aacute; 10 đơn vị t&agrave;i liệu;</p>
            <p>b) Đối với sinh vi&ecirc;n - học vi&ecirc;n: Được mượn mỗi lần 05 đơn vị t&agrave;i liệu v&agrave; giữ trong sổ mượn kh&ocirc;ng qu&aacute; 10 đơn vị t&agrave;i liệu. Thời gian mượn tối đa 15 ng&agrave;y đối với t&agrave;i liệu tham khảo, 01 kỳ đối với t&agrave;i liệu l&agrave; gi&aacute;o tr&igrave;nh.</p>
            <p>2. Ch&iacute;nh s&aacute;ch đặt cọc khi mượn t&agrave;i liệu được thực hiện theo quy định ri&ecirc;ng của Nh&agrave; trường. Cụ thể bạn đọc mượn s&aacute;ch về nh&agrave; phải đặt cọc số tiền bằng với gi&aacute; b&igrave;a của cuốn s&aacute;ch. Sau khi trả lại s&aacute;ch, Thư viện sẽ ho&agrave;n trả lại đầy đủ số tiền đ&atilde; đặt cọc cho cuốn s&aacute;ch đ&oacute;.</p>
            <p>3. Bạn đọc kiểm tra kỹ t&igrave;nh trạng t&agrave;i liệu v&agrave; b&aacute;o c&aacute;o cho thư viện vi&ecirc;n nếu t&agrave;i liệu bị r&aacute;ch, bị bẩn v.v&hellip; trước khi đem s&aacute;ch ra khỏi Thư viện.</p>
            <p><strong>Điều 6. Quy định về an ninh, an to&agrave;n, bảo quản t&agrave;i liệu v&agrave; t&agrave;i sản</strong></p>
            <p>1. Kh&ocirc;ng mang theo v&agrave; sử dụng trong Thư viện c&aacute;c chất cấm, chất g&acirc;y nghiện, vật dễ ch&aacute;y nổ theo quy định của ph&aacute;p luật.</p>
            <p>2. Khi sử dụng c&aacute;c thiết bị lưu trữ, sao ch&eacute;p th&ocirc;ng tin từ m&aacute;y t&iacute;nh của Thư viện cần c&oacute; sự đồng &yacute; của Thư viện vi&ecirc;n. Bạn đọc kh&ocirc;ng tự &yacute; c&agrave;i đặt, sửa chữa m&aacute;y t&iacute;nh, sao chụp t&agrave;i liệu của Thư viện.</p>
            <p>3. Bạn đọc c&oacute; tr&aacute;ch nhiệm bảo quản t&agrave;i liệu, t&agrave;i sản của Thư viện. Bạn đọc c&oacute; nghĩa vụ cho thư viện vi&ecirc;n kiểm tra c&aacute;c vật dụng mang ra khỏi Thư viện khi c&oacute; y&ecirc;u cầu.</p>
            <p>4. Người học trước khi ra trường hoặc th&ocirc;i học, vi&ecirc;n chức, người lao động trước khi nghỉ hoặc chuyển c&ocirc;ng t&aacute;c c&oacute; tr&aacute;ch nhiệm ho&agrave;n trả hết t&agrave;i liệu đ&atilde; mượn, thanh to&aacute;n c&aacute;c khoản bồi thường (nếu c&oacute;).</p>
            <p><strong>Điều 7. Quy định về văn h&oacute;a trong Thư viện</strong></p>
            <p>1. Bạn đọc c&oacute; trang phục nghi&ecirc;m t&uacute;c, ứng xử văn minh, đi nhẹ, n&oacute;i khẽ, giữ vệ sinh chung, kh&ocirc;ng h&uacute;t thuốc; ăn uống đ&uacute;ng nơi quy định.</p>
            <p>2. Kh&ocirc;ng sử dụng m&aacute;y t&iacute;nh hoặc c&aacute;c thiết bị c&ocirc;ng nghệ v&agrave;o mục đ&iacute;ch kh&aacute;c ngo&agrave;i việc tra cứu th&ocirc;ng tin, dữ liệu.</p>
            <p>&nbsp;</p>
            <p style="text-align: center"><strong>Chương III: SỬ DỤNG THƯ VIỆN SỐ</strong></p>
            <p><strong>Điều 8. Truy cập thư viện số</strong></p>
            <p>Bạn đọc l&agrave; người học sử dụng t&agrave;i khoản m&atilde; sinh vi&ecirc;n; vi&ecirc;n chức, người lao động sử dụng t&agrave;i khoản egov để truy cập website thư viện <a href="http://lic.haui.edu.vn"><strong>http://lic.haui.edu.vn</strong></a>.</p>
            <p><strong>Điều 9</strong>. <strong>Tr&aacute;ch nhiệm bạn đọc</strong></p>
            <p>1. Bạn đọc c&oacute; tr&aacute;ch nhiệm quản l&yacute; t&agrave;i khoản v&agrave; mật khẩu của m&igrave;nh, kh&ocirc;ng cho mượn t&agrave;i khoản. Trường hợp qu&ecirc;n mật khẩu, bạn đọc li&ecirc;n hệ với Thư viện để được hỗ trợ.</p>
            <p>2. Khi truy cập th&ocirc;ng tin qua mạng, tra cứu cơ sở dữ liệu, sử dụng c&aacute;c loại t&agrave;i liệu nghe nh&igrave;n tại Thư viện, bạn đọc phải c&oacute; &yacute; thức bảo vệ an to&agrave;n dữ liệu; Kh&ocirc;ng được thay đổi th&ocirc;ng tin, g&acirc;y hại đến cơ sở dữ liệu của Thư viện.</p>
            <p>&nbsp;</p>
            <p style="text-align: center"><strong>Chương IV: SỬ DỤNG PH&Ograve;NG THẢO LUẬN NH&Oacute;M</strong></p>
            <p><strong>Điều 10. Nguy&ecirc;n tắc sử dụng</strong></p>
            <p>1.<strong> </strong>Bạn đọc c&oacute; nhu cầu sử dụng ph&ograve;ng thảo luận nh&oacute;m phải đăng k&yacute; trực tiếp với thư viện vi&ecirc;n quản l&yacute;.</p>
            <p>a) Đối với vi&ecirc;n chức, người lao động: Cần tr&igrave;nh thẻ vi&ecirc;n chức, người lao động khi sử dụng ph&ograve;ng thảo luận nh&oacute;m;</p>
            <p>b) Đối với sinh vi&ecirc;n, học vi&ecirc;n: Trưởng nh&oacute;m cần tr&igrave;nh thẻ đa năng, trường hợp kh&ocirc;ng c&oacute; thẻ đa năng cần c&oacute; giấy giới thiệu k&egrave;m CMND để thay thế v&agrave; nhận ch&igrave;a kh&oacute;a ph&ograve;ng, trang thiết bị v&agrave; chịu ho&agrave;n to&agrave;n tr&aacute;ch nhiệm trong thời gian sử dụng ph&ograve;ng thảo luận nh&oacute;m.</p>
            <p>2. Bạn đọc kh&ocirc;ng tự &yacute; thay đổi, di chuyển c&aacute;c trang thiết bị c&oacute; trong ph&ograve;ng khi chưa được sự đồng &yacute; của thư viện vi&ecirc;n.</p>
            <p>3. Bạn đọc phải c&oacute; &yacute; thức giữ g&igrave;n vệ sinh, bảo vệ t&agrave;i sản, giao tiếp lịch sự, kh&ocirc;ng l&agrave;m ảnh hưởng tới c&aacute;c ph&ograve;ng kh&aacute;c.</p>
            <p>&nbsp;</p>
            <p style="text-align: center"><strong>Chương V: ĐIỀU KHOẢN THI H&Agrave;NH</strong></p>
            <p><strong>Điều 11.</strong>&nbsp;<strong>Khen thưởng</strong></p>
            <p>Thư viện khuyến kh&iacute;ch, ưu ti&ecirc;n phục vụ bạn đọc thực hiện tốt c&aacute;c quy định về sử dụng thư viện v&agrave; khen thưởng bạn đọc c&oacute; số lần sử dụng thư viện nhiều nhất trong năm.</p>
            <p><strong>Điều 12.&nbsp;Xử l&yacute; vi phạm</strong></p>
            <p>Trong trường hợp vi phạm quy định, bạn đọc sẽ phải tu&acirc;n thủ c&aacute;c h&igrave;nh thức xử l&yacute; theo quy định của Nh&agrave; trường v&agrave; Ph&aacute;p luật của Nh&agrave; nước, cụ thể:</p>
            <p>1. Bạn đọc cho người kh&aacute;c mượn thẻ để sử dụng tại Thư viện, mang t&agrave;i liệu ra khỏi ph&ograve;ng đọc sẽ kh&ocirc;ng được sử dụng dịch vụ Thư viện trong thời gian 30 ng&agrave;y.</p>
            <p>2. Thường xuy&ecirc;n g&acirc;y ồn &agrave;o, l&agrave;m ảnh hưởng đến bạn đọc kh&aacute;c, l&agrave;m mất vệ sinh chung, c&oacute; th&aacute;i độ kh&ocirc;ng đ&uacute;ng mực với thư viện vi&ecirc;n v&agrave; vi phạm c&aacute;c quy định tại Nội quy n&agrave;y t&ugrave;y theo mức độ vi phạm, bạn đọc sẽ kh&ocirc;ng được sử dụng dịch vụ tại Ph&ograve;ng đọc từ 07 ng&agrave;y đến 30 ng&agrave;y hoặc bị xử l&yacute; theo quy định của ph&aacute;p luật v&agrave; Nh&agrave; trường.</p>
            <p>3. Trong trường hợp bạn đọc l&agrave;m r&aacute;ch, bẩn, mất trang trong t&agrave;i liệu th&igrave; phải tự khắc phục hoặc đền b&ugrave; t&agrave;i liệu (t&iacute;nh theo gi&aacute; tiền tr&ecirc;n trang b&igrave;a); trường hợp l&agrave;m hư hỏng, mất t&agrave;i sản, thiết bị bạn đọc cần đền b&ugrave; số tiền để khắc phục (theo gi&aacute; thị trường).</p>
            <p>4. C&aacute;c trường hợp vi phạm về bản quyền t&aacute;c giả quy định tại Luật Sở hữu tr&iacute; tuệ sẽ bị xử l&yacute; theo quy định của ph&aacute;p luật.</p>
            <p><strong>Điều 13. Tổ chức thực hiện</strong></p>
            <p>Trưởng c&aacute;c đơn vị c&oacute; tr&aacute;ch nhiệm qu&aacute;n triệt việc thực hiện Nội quy n&agrave;y đến vi&ecirc;n chức, người lao động v&agrave; người học của đơn vị. Gi&aacute;m đốc Trung t&acirc;m Th&ocirc;ng tin Thư vi&ecirc;n chịu tr&aacute;ch nhiệm gi&uacute;p Hiệu trưởng đ&ocirc;n đốc, theo d&otilde;i việc thực hiện Nội quy n&agrave;y.</p>
            <p><strong>Điều 14. Điều khoản thi h&agrave;nh</strong></p>
            <p>1. Nội quy n&agrave;y c&oacute; hiệu lực kể từ ng&agrave;y k&yacute;.</p>
            <p>2. Trong qu&aacute; tr&igrave;nh thực hiện nếu c&oacute; vướng mắc cần bổ sung, điều chỉnh, Trung t&acirc;m Th&ocirc;ng tin Thư viện tổng hợp, b&aacute;o c&aacute;o Hiệu trưởng xem x&eacute;t, bổ sung, sửa đổi v&agrave; giải quyết c&aacute;c vấn đề ph&aacute;t sinh ph&ugrave; hợp, kịp thời./.</p>
        </div>

    </div>
</div>
