@model IEnumerable<QuanLySachThuVien.Models.Sach>

@{
    ViewBag.Title = "XemALlSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-sm-6 col-md-4 col-lg-3 table-bordered p-3 mb-3">
                @{
                    string path = "~/Content/Images/" + item.hinhAnh;
                }
                <a href="@Url.Action( "Details", "TrangChu",  new { id = item.maSach })">
                    <img src=@Url.Content(path) class="img-thumbnail" width="150" />
                </a>
                <br />
                <b>Tên sách: </b>@Html.DisplayFor(modelItem => item.tenSach)<br />
                <b>NXB: </b>@Html.DisplayFor(modelItem => item.nhaXuatBan)<br />
                @{
                    decimal giatien = (decimal)item.giaTien;
                    string giaTienFormatted = giatien.ToString("#,##0") + " VND";
                }
                <b>Giá tiền: </b>@giaTienFormatted<br />
                @*@Html.ActionLink("Xem chi tiết", "Details", new { id = item.maSach })*@
            </div>

    }
</div>